[user]
  name = Name Surname
  email = mail@mail.local
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  oc = checkout
  cp = cherry-pick
  sq = rebase -i
  df = diff
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  logall = log --oneline --since={30.weeks.ago} --format="%h %cd %an %s"
  history = for-each-ref --sort=-committerdate refs/heads/
  historybr = branch --sort=-committerdate
  ls = ls-files
  unstage = reset HEAD --
  last = log -1 HEAD
[core]
  editor = vim
  excludesfile = ~/.gitignore
[merge]
  tool = vimdiff
[push]
  default = current
