bind-tty-special-chars on
blink-matching-paren on
byte-oriented off
completion-ignore-case off
convert-meta off
disable-completion off
enable-keypad off
expand-tilde off
history-preserve-point off
horizontal-scroll-mode off
input-meta on
mark-directories on
mark-modified-lines off
mark-symlinked-directories off
match-hidden-files on
meta-flag on
output-meta on
page-completions on
prefer-visible-bell on
print-completions-horizontally off
show-all-if-ambiguous off
show-all-if-unmodified off
visible-stats off
bell-style audible
comment-begin #
completion-query-items 100
editing-mode emacs
keymap emacs